---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
const currentLocale = Astro.currentLocale ?? "en";
---

<html
  lang={currentLocale}
  class="scroll-smooth selection:bg-primary selection:text-primary-foreground no-touchevents hydrated">
  <head>
    <BaseHead />
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-svh">
    <Navigation />
    <main class="grow"><slot /></main>
    <Footer />
  </body>
</html>
